{% extends "layout.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}
<h1>Change Password</h1>
<form method="POST" action="">
  {{ form.hidden_tag() }}
  <p>
    {{ form.old_password.label }}<br>
    {{ form.old_password(size=32) }}
  </p>
  <p>
    {{ form.new_password.label }}<br>
    {{ form.new_password(size=32) }}
  </p>
  <p>
    {{ form.new_password2.label }}<br>
    {{ form.new_password2(size=32) }}
  </p>
  <p>{{ form.submit() }}</p>
</form>
<p><a href="{{ url_for('main.index') }}">Home</a></p>
{% endblock %}
