{% extends 'base.html' %}
{% block title %}Iniciar Sesión{% endblock %}
{% block content %}
<div class="container text-center my-5 border border-1 rounded p-5 shadow">
    <h2>Iniciar Sesión</h2>
    <div class="border-top my-3"></div>
    <form action="{{ url_for('auth.login') }}" method="post" class="d-flex flex-column">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
        </div>
        <div class="border-top my-3"></div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>
{% endblock %}
